* {
    margin: 0px;
    padding: 0px;
    font-family:cursive ;
}

main{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.section { 
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}



.projtitul {
    color: orange;
    margin-bottom: 15px;
    margin-top: 15px;
}

#gradeprojetos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projeto {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

#linhacima {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#linhabaixo {
    display: flex;
    flex-direction: row;
}

.imgproj {
    height: 100px;
    border-radius: 20px;
    transition-duration: 0.4s;
}

.imgproj:hover{
    height: 120px;
    border: 5px solid orange;
}

#gradejob {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    gap: 20px;
}

.jobs {
    width: 20%;
    height: 250px;
    background-color: orange;
    border-radius: 20px;
}

.iconjob { 
    height: 50px;
    margin-top: 15px;
}

h1{
    font-size: 30px
}

h2{
    margin-top: 15px;
    font-size: 20px
}

h1,h2 {
    color: black;
}

.linking{
    text-decoration: none;
    
}

#heletri {
    color:orange;
    font-size: 30px;
}

.gradeimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

#phot1 {
    height: 400px;
    margin-right: 20px;
}

#phot2 {
    height: 400px;

}

#phot1, #phot2 {
    border-radius: 30px;
}

#titumod > h1 {
    color: orange;
    margin-bottom: 50px;
}

.modimg{
    height: 250px;
    border-radius: 30px;
    margin: 10px;
    transition-duration: 0.4s;
}

.modimg:hover{
    height: 270px;
    border: 5px solid orange;
}

#modtot{
    margin-bottom: 50px;
}


#fut{
    background-color: orange;
    height: 300px;
    width: 100%;
}







